# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Package distribution
dist/
*.egg-info

# Virtual environments
env/
venv/

# mypy cache
.mypy_cache/

# Editors
.idea/
.vscode/

# Test data
data/
